.body{
    font-family: 'Raleway', sans-serif;
    background-color: #ccc;
    
    
}
.header{
    margin: 0;
    padding: 0;
    top: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 300px;
    background: -webkit-linear-gradient(to right, hsla(273, 79%, 15%, 0.1), hsla(261, 43%, 45%, 0.1)), url(/images/fon.jpg);   /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(273, 79%, 15%, 0.1), hsla(261, 43%, 45%, 0.1)), url(/images/fon.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: center;

}
.navi{
    margin: 0;
    padding: 0; 
    color: white;
    text-align: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

.dropdownbtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    }
    
    .dropdown{
       position: relative; 
       display: inline-block;
       float: right;
    }
    
    .dropdownContent{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    .dropdownContent a{
        color:black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdownContent a:hover{
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdownbtn{
        background-color: #3e8e41;
    }
    
    .dropdown:hover .dropdownContent{
        display: block;
    }

    .wave{
        position: absolute;
        width: 100%;
        
        
    } 
    .namni{
        text-align: center;
        font-weight: 800;
        padding-top: 190px;
        color: #ccc;
        text-shadow: 1px 2px 2px rgba(255,255,255,1);

    }
    
    .bodyn{
        padding: 0;
        margin: 0;
        padding-top: 170px;
        left: 0;
        right: 0;
        width: 100%;
       
        background-color: #ccc;
        overflow: hidden;
        
    }

    .reta{
     
        text-align: center;
        
        
    }
    .reta button{
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .reta button:hover{
        background-color: #3e8e41;
    }
    .reta h3{
        font-weight: 900;
        font-size: 150%;
    }
    .pat{
      margin: 0;
    padding: 0;
  
    left: start;
    position: relative;
    width: 100%;
      height: 500px;
    text-align: center;
      background: -webkit-linear-gradient(to right, hsla(0, 0, 00, 0.1), hsla(0, 0, 0, 0.1)), url(/images/patron.jpg);   /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, hsla(0, 0, 0, 0.1), hsla(0, 0, 0, 0.1)), url(/images/patron.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: cover;
      background-attachment: center;
      
    }

